$flexing-spaced-gutter: 12px !default

.horizontal-container
  display: flex

  > *
    margin: 0

  &.spaced
    margin: 0 -$flexing-spaced-width / 2

    > *
      padding: 0 $flexing-spaced-width / 2

.vertical-container
  display: flex
  flex-direction: column

  > *
    margin: 0

.scroll-pane
  overflow-y: auto
  -webkit-overflow-scrolling: touch

.fit
  flex: 1
  min-width: 0
  min-height: 0

.aligned
  align-items: center

.sticky
  position: sticky
  top: 0
  z-index: 1
